* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#clockneedel {
    animation: needel 2s infinite ease;
    transform-origin: center center center center;
    transform-box: fill-box;
}

@keyframes needel {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}